<div class="container">
  <h1> Stupid Coaching</h1>

  <figure>
    <blockquote class="blockquote">
      <p><%= params[:answer] %></p>
    </blockquote>
    <figcaption class="blockquote-footer">
      You
    </figcaption>
  </figure>

    <figure class="coach">
    <blockquote class="blockquote">
      <p><%= @answer_coach %></p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Your coach
    </figcaption>
  </figure>

  <p><%= link_to"Ask a new question", ask_path %></p>

</div>
