 <div class= "container">
  <h1> Stupid Coaching </h1>
  <p> Ask your coach anything: </p>
  <form action="/answer" data-turbo="false" method="get">
    <input type="text" class="form-control col-lg-11" name="answer" value="<%= params[:answer] %>"><input type="submit" value="Ask" class="col-lg-1 btn btn-primary">
  </form>
</div>
